@import "../variables";

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  .header-internal {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    align-content: center;
    img {
      margin-left: 20px;
      height: 18px;
    }
    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
      align-content: center;
    }
  }
}

.content {
  height: 100%;
}

.callout {
  font-family: avantgarde_lt_mediumbold, sans-serif;
  width: 100%;
  font-size: 60px;
  color: $dark;
}

.dark-callout {
  font-family: avantgarde_lt_mediumbold, sans-serif;
  font-size: 75px;
  color: $dark;
}

.links {
  .link-button {
    margin-right: 20px;
    color: $dark;
  }
}

.link-button {
  color: white;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.login-button {
  background-color: #015dab;
  color: #fff !important;
  padding: 12px 25px 12px 25px;
  border-radius: 100px;
}

.callout-button {
  color: white !important;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  background-color: #24262b;
  border: 2px solid #2f3137;
}

.down-button {
  border-radius: 100px;
  background-color: white;
  color: black;
  border: 5px solid $primary-color;
  padding: 20px 20px 20px 20px;
}

.card {
  .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    img {
      height: 70px;
    }
  }
  .card-header {
    font-family: avantgarde_lt_mediumbold, sans-serif;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.panel-1 {
  display: flex;
  align-items: center;
  height: 95%;
  margin-bottom: 50px;
  .panel-1-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/assets/img/duotone-5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.panel-2 {
  padding: 100px 0 100px 0;
  .panel-2-internal {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
  }
}

.panel-2a {
  display: flex;
  align-items: center;
  background-color: $dark;
  height: 100%;
}


.panel-3 {
  padding: 100px 0 100px 0;
  .panel-3-internal {
    display: flex;
    align-items: center;
    //background-color: $primary-color;
    width: 100%;
  }
}

.panel-4 {
  background-color: $dark;
  padding: 100px 0 100px 0;
  .panel-4-internal {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.footer-links {
  li {
    color: white;
  }
}

.panel-short {
  display: flex;
  align-items: center;
}



.list-header {
  font-weight: bold;
  font-size: 24px;
}
