<!--<div class="header">-->
  <!--<div class="header-internal">-->
    <!--<img src="../assets/svg/simlynx-logo.svg" data-aos="fade-right" data-aos-delay="500">-->
    <!--<div class="right links" data-aos="fade-left" data-aos-delay="500">-->
      <!--<button class="link-button">About</button>-->
      <!--<button class="link-button">Docs</button>-->
      <!--<button class="link-button callout-button">Login</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div id="content-wrapper" class="content" [mnFullpage]="options">

  <div class="panel-1 fp-section">
    <div class="panel-1-background rellax" data-rellax-speed="3z"></div>
    <!--<div style="height:100%; backgrozundz:z z#000; position: absolute; left: 0; width: 50%;"></div>-->
    <div class="header" data-aos="fade-down" data-aos-delay="500">
      <div class="header-internal">
        <img src="../assets/svg/simlynx-logo-new.svg">
        <div class="right links">
          <button class="link-button">About</button>
          <button class="link-button">Docs</button>
          <button class="link-button login-button">Login</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="callout" style="color: white; margin-bottom: -16px;" data-aos="zoom-in">Cellular,</div>
          <div class="callout" style="color: white;" data-aos="zoom-in">for Everyone</div>
          <div style="color: white">This is some text to describe what the header actually means!<br/> And although I can't think of anything now... I'm sure someone else will!</div>
        </div>
      </div>
    </div>


  </div>

  <!--<span class="down-button">Test</span>-->

  <div class="panel-2 fp-section">

    <div class="container">
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
          <div style="margin-bottom: 90px; text-align: right" class="dark-callout" data-aos="fade-left">The Gist</div>

        </div>
      </div>
    </div>
    <div class="panel-2-internal">
      <div class="container">
        <div class="row">
          <div class="col-4 card" data-aos="fade-up" data-aos-delay="200">
            <div class="card-image">
              <img src="../assets/svg/simple.svg">
            </div>
            <div class="card-header">
              Simple
            </div>
            <p style="padding: 0 40px 0 40px;">Avoid hardware design headaches and enjoy our selection of convenient, certified devices.</p>
          </div>
          <div class="col-4 card" data-aos="fade-up" data-aos-delay="100">
            <div class="card-image">
              <img src="../assets/svg/fast.svg">
            </div>
            <div class="card-header">
              Fast
            </div>
            <p style="padding: 0 40px 0 40px;">
              Rapidly prototype and bring your IOT visions to market fast with Simlynx's Rasberry Pi and Arduino Hats.</p>
          </div>
          <div class="col-4 card" data-aos="fade-up">
            <div class="card-image">
              <img src="../assets/svg/powerful.svg">
            </div>
            <div class="card-header">
              Powerful
            </div>
            <p style="padding: 0 40px 0 40px;">With SDKs across a variety of languages any developer can create or integrate existing platforms with ease.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="fp-section fp-auto-height" style="width: 100%; background-image: url('../assets/img/duotone-1.png')">-->
    <!--<div style="height: 500px"></div>-->

  <!--</div>-->

  <div class="panel-3 fp-section">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div style="margin-bottom: 90px;" class="dark-callout" data-aos="fade-right">The Flavors</div></div>
      </div>
    </div>
    <div class="panel-3-internal">
      <div class="container">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5 card" data-aos="fade-up">
            <div class="card-image">
              <img src="../assets/svg/raspberry-pi.svg">
            </div>
            <div class="card-header">
              Raspberry PI
            </div>
            <p style="padding: 0 40px 10px 40px;">The world's favorite microcomputer now with cellular connectivity.</p>
            <div class="card-footer">
              <button class="link-button callout-button">Details</button>
            </div>

          </div>

          <div class="col-5 card" data-aos="fade-up" data-aos-delay="100">
            <div class="card-image">
              <img src="../assets/svg/arduino-small-logo.svg">
            </div>
            <div class="card-header">
              Arduino
            </div>
            <p style="padding: 0 40px 10px 40px;">Simple cellular connectivity on an expansive microcontroller platform.</p>
            <div class="card-footer">
              <button class="link-button callout-button">Details</button>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>



  <!--<div class="panel-2a section fp-auto-height">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-4 logo-card" data-aos="fade-up">-->
          <!--<img style="height: 55px;" src="../assets/svg/verizon-logo.svg">-->
        <!--</div>-->
        <!--<div class="col-4 logo-card" data-aos="fade-up" data-aos-delay="100">-->
          <!--<img style="height: 85px;" src="../assets/svg/att-logo.svg">-->
        <!--</div>-->
        <!--<div class="col-4 logo-card" data-aos="fade-up" data-aos-delay="200">-->
          <!--<img style="width: 100%;" src="../assets/svg/t-mobile-logo.svg">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <div class="panel-2 fp-section">
    <div class="container">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div style="margin-bottom: 90px; text-align: right" class="dark-callout" data-aos="fade-left">The Meat</div>
        </div>
      </div>
    </div>
    <div class="panel-2-internal">
      <div class="container">
        <div class="row">

          <div class="col-4 card" data-aos="fade-up">

            <ul>
              <li class="list-header">Features</li>
              <li>Small form factor</li>
              <li>Cost effective</li>
              <li>Telit ME910C1 Modem</li>
              <li>Embedded GPS</li>
              <li>USART, USB, I2C, SPI interfaces</li>
              <li>Plug and Play SDK</li>
              <li>A variety of available add-ons</li>
              <li>Arduino & Raspberry Pi Compatible</li>
            </ul>

          </div>


          <div class="col-4 card" data-aos="fade-up">

            <ul>
              <li class="list-header">Protocols</li>
              <li>LTE CAT-M1</li>
              <li>NB-IoT (Narrowband)</li>
            </ul>


          </div>

          <div class="col-4 card" data-aos="fade-up">

            <ul>
              <li class="list-header">Networking</li>
              <li>Low power consumption</li>
              <li>1 Mbp/s upload & download </li>
              <li>Full mobility and in‑vehicle hand‑over</li>
              <li>Extended range</li>
            </ul>

          </div>




        </div>
      </div>
    </div>
  </div>

  <div class="panel-4 fp-section fp-auto-height">
    <div class="container">
      <div class="row">
        <div class="col-3 card">
          <ul class="footer-links">
            <li>About</li>
            <li>Docs</li>
            <li>About</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="color: #616161;">© Simlynx LLC 2018  |  Privacy Policy </div>
      </div>
    </div>
  </div>
</div>
