<div class="header">
  <div class="header-internal">
    <img src="../assets/svg/simlynx-logo.svg" data-aos="fade-right" data-aos-delay="500">
    <div class="right" data-aos="fade-left" data-aos-delay="500">
      <button class="link-button">About</button>
      <button class="link-button">Docs</button>
      <button class="link-button callout-button">Login</button>
    </div>
  </div>
</div>


<div id="fullpage" class="content" [mnFullpage]="options">

  <div class="panel-1 section fp-auto-height">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="callout" data-aos="zoom-in">America's #1 cellular module.</div>
        </div>
      </div>
    </div>
  </div>

  <!--<span class="down-button">Test</span>-->

  <div class="panel-2 section fp-auto-height">
    <div class="container">
      <div class="row">
        <div class="col-4 card" data-aos="fade-up">
          <div class="card-image">
            <img src="../assets/svg/simple.svg">
          </div>
          <div class="card-header">
            Simple
          </div>
          <p style="padding: 0 40px 0 40px;">Avoid hardware design headaches and enjoy our selection of convenient, certified devices.</p>
        </div>
        <div class="col-4 card" data-aos="fade-up" data-aos-delay="100">
          <div class="card-image">
            <img src="../assets/svg/fast.svg">
          </div>
          <div class="card-header">
            Fast
          </div>
          <p style="padding: 0 40px 0 40px;">
            Rapidly prototype and bring your IOT visions to market fast with Simlynx's Rasberry Pi and Arduino Hats.</p>
        </div>
        <div class="col-4 card" data-aos="fade-up" data-aos-delay="200">
          <div class="card-image">
            <img src="../assets/svg/powerful.svg">
          </div>
          <div class="card-header">
            Powerful
          </div>
          <p style="padding: 0 40px 0 40px;">With SDKs across a variety of languages any developer can create or integrate existing platforms with ease.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-2a section fp-auto-height">
    <div class="container">
      <div class="row">
        <div class="col-4 logo-card" data-aos="fade-up">
          <img style="height: 55px;" src="../assets/svg/verizon-logo.svg">
        </div>
        <div class="col-4 logo-card" data-aos="fade-up" data-aos-delay="100">
          <img style="height: 85px;" src="../assets/svg/att-logo.svg">
        </div>
        <div class="col-4 logo-card" data-aos="fade-up" data-aos-delay="200">
          <img style="width: 100%;" src="../assets/svg/t-mobile-logo.svg">
        </div>
      </div>
    </div>

  </div>

  <div class="panel-2 section fp-auto-height">
    <div class="container">
      <div class="row">
        <div class="col-4 card" data-aos="fade-up">
          Test
        </div>
        <div class="col-4 card" data-aos="fade-up" data-aos-delay="100">
          Test
        </div>
        <div class="col-4 card" data-aos="fade-up" data-aos-delay="200">
          Test
        </div>
      </div>
    </div>
  </div>
</div>
